@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Bee Hive Web-page!</h1>
    <figure class="floatleft" >
        <img class="img2" src="images/bees.jpg" id="bee" width="1000"/>
    </figure>
    
    <figure class="floatright" >
        <img class="img" src="images/beehive.jpg" id="mouseoverimg"/>
    </figure>
</div>

@section Scripts {
    <script src="~/js/JavaScriptIllustration.js" asp-append-version="true"></script>
}